.menu-container {
    visibility: hidden;
    
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.menu-item {
    display: flex;
    
    text-decoration: none;
    align-items: center;
    opacity: 50%;
    margin-top: 3%;
    margin-right: 7%;
    
    
}


.menu-item img {
    opacity: 50%;
}

.menu-item a:hover img {
    opacity: 200%;
}

  
  .other-page {
    fill: rgb(184, 181, 181);
  }

.menu-item a {
    display: flex;
    align-items: center;
    text-decoration: none; /* Pour supprimer le soulignement des liens */
    color: black; /* Couleur du texte */
    margin-left: 10%;
   
}

.menu-item a img {
    width: 20px; /* Taille de l'image */
    height: auto; /* Pour maintenir le ratio de l'image */
    margin-right: 5px; /* Espace entre l'image et le texte */
}

.menu-item:active {
    text-decoration: none;
}

.menu-item:visited{
    text-decoration: none;
    color: black;
}


@media only screen
and (min-device-width: 1024px) {

p {
    font-size: 16px;
    font-weight: 300;
}
.menu-container {
    visibility: visible;
}
}