@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}



h1, h2 , h3, p {
    font-family: "Inter", sans-serif;
     
      
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: left;

}

.container {
   

    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 33px;
    margin-bottom: 40px;
}
header h1 {
    font-size: 42px;
    font-weight: 400;
    line-height: 38.73px;
    text-align: left;

    
    

}

.popup-container {
    visibility: hidden;
    border: 1px solid red;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 40%;
    z-index: 2;
    box-shadow: 10px 0px 50px;
    
    background-color: rgba(255, 255, 255, 0.884);
    border: none;
    border-radius: 5px;
    
}

.popup h1 {
    display: flex;
    margin-left: 10%;
    margin-bottom: 10%;
}

.popup button {
    width: 100px;
    height: 32px;
    background-color: transparent;
    border: 1px solid black;
    margin-left: 5px;
}

.pagebutton {
    height: 38px;
    width: 200px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5%;
    padding: 2px;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;   
    text-align: center;
}

.deleteall { /* button */
    
    
    display: flex;
    position: relative;
    right: 0;
    top: 0;

    

    align-items: center;
    justify-content: center;

    


    margin: 2px;
}



.card-item {
    position: relative;
    height: 175px;
    
    display: flex;
    border: 1px solid grey;
    border-radius: 5px;
    
    margin-bottom: 5%;
    
}

.left-item img {
    height: 145px;
    width: 150px;
    object-fit: cover;
    object-position: 25% 25%; 
    
}

.left-item {
    height: 145px;
    width: 150px;
    float: left;

    margin: 10px;
    background-color: rgb(206, 201, 201);
    
}

.right-item {
    
    width: 75%;
    display: flex;   
    
    text-align: start;
    margin-left: 5%;
    flex-direction: column;

    
}




.substract , .add  {
    width: 50px;
    height: 50px;
    border: 2px solid grey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin-top: 2%;
    background-color: transparent;

    
}

.shop-container {
    display: flex; 
    flex-direction: row; 
    
    position: absolute;
    bottom: 0;
    
}

.result {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;



}

.result h3 {
    font-size: 20px;
}


.checkout-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
}

.total-Button {
   margin-top: 1%;
    margin-left: 10px;
    margin-bottom: 5%;
    border-radius: 4px 0px 0px 0px;


}


.paid-container {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.paid-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

#totalPrice {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    width: auto;
    height: auto;
}



@media only screen
and (min-device-width: 768px) {

    
    .card-item {
        height: 200px;
        width: 60%;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
        
    }

    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .checkout-container {
        margin-top: 1%;
    }

    .paid-container {
        margin-top: 3%;
    }

}

