@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}



h1, h2 , h3, p {
    font-family: "Inter", sans-serif;
     
      
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: left;

}

.container {
   
   height: auto;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 33px;
    margin-bottom: 40px;
}
header h1 {
    font-size: 42px;
    font-weight: 400;
    line-height: 38.73px;
    text-align: left;

    
    

}

.popup-container {
    visibility: hidden;
    border: 1px solid red;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 40%;
    z-index: 2;
    box-shadow: 10px 0px 50px;
    
    background-color: rgba(255, 255, 255, 0.884);
    border: none;
    border-radius: 5px;
    
}

.popup h1 {
    display: flex;
    margin-left: 10%;
    margin-bottom: 10%;
}

.popup button {
    width: 100px;
    height: 32px;
    background-color: transparent;
    border: 1px solid black;
    margin-left: 5px;
}

.pagebutton {
    height: 38px;
    width: 165px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5%;
    padding: 2px;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;   
    text-align: center;
}

.deleteall { /* button */
    
    
    display: flex;


    border-radius : 4px 0px 0px 0px;

    align-items: center;
    justify-content: center;

    


    margin: 2px;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.card-item {
    position: relative;
    height: 175px;
    
    display: flex;
    border: 1px solid grey;
    border-radius: 5px;
    
    margin-bottom: 5%;
    
}

.left-item img {
    height: 145px;
    width: 150px;
    object-fit: cover;
    object-position: 25% 25%; 
    
}

.left-item {
    height: 145px;
    width: 150px;
    float: left;

    margin: 10px;
    background-color: rgb(206, 201, 201);
    
}

.right-item {
    
    width: 75%;
    display: flex;   
    
    text-align: start;
    margin-left: 5%;
    flex-direction: column;

    
}

.right-item h1 {
    font-size: 24px;
}

.right-item h3 {
    font-size: 16px;
}




.substract , .add  {
    width: 30px;
    height: 30px;
    border: 2px solid grey;
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin-top: 2%;
    background-color: transparent;

    
}

.shop-container {
    display: flex; 
    flex-direction: row; 
    width: 100%;
    position: absolute;
    bottom: 0;
    
}

.result {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;



}

.result h3 {
    font-size: 20px;
    margin-top: 2px;
}


.checkout-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.total-Button {
   margin-top: 1%;
    margin-left: 10px;
    margin-bottom: 5%;
    border-radius: 4px 0px 0px 0px;


}


.paid-container {
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.paid-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    margin-top: 3%;
}

#totalPrice {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    width: auto;
    height: auto;
}


footer {

    visibility:visible;
    height: 20px;
    margin-top: auto;
    padding: 20px 0;
    background-color: #f8f9fa;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer a {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  footer img {
    width: 30px;
  }


  @media only screen
  and (max-device-width: 390px) {
    
    .card-item{
        height: 100px;
    }

    .left-item img {
        height: 80px;
        width: 80px;
        object-fit: cover;
        object-position: 25% 25%; 
        
    }
    
    .left-item {
        height: 80px;
        width: 80px;
        float: left;
    
        margin: 10px;

  }

  .right-item h3 {
    font-size: 14px;
  }

  .substract, .add, .result {
    height: 100%;
    width: 20px;

  }



  h1{
    font-size: 18px;
  }
  h3{
    font-size: 15px;
  }

  .pagebutton {
    height: 100%;
    width: 40%;
  }

  .deleteall {
    width: 50%;
  }


  }

 
@media only screen and (min-width:540px) {
    
    .card-item {
        display: flex;
        flex-direction: row;
        height: 110px;
       
        
        
        align-items: center;
        margin-bottom: 2%;
        
    }

    .left-item {
       
        height: 100px;
    }

    .left-item img {
        width: 130px;
        height: 100px;
    }


    .right-item {
        display: flex;
        height: 100%;
        
        margin-right: 20%;
    }

}

@media only screen
and (min-device-width: 1024px) {


    .deleteall{
       
        width: 225px;
        height: 40px;
      
    }
    
    .container{

        margin-top: 0%;

    }
    
    header{
        margin-top: 5%;
        margin-right: 10%;
    }
    
    .card-item {
        display: flex;
        flex-direction: column;
        height: 436px;
        width: 411px;
        
        
        align-items: center;
        margin-bottom: 2%;
        
    }

    .left-item {
        width: 391px;
        height: 244px;
    }

    .left-item img {
        width: 391px;
        height: 244px;
    }

    .right-item {
        display: flex;
        margin-top: 5%;
        margin-right: 20%;
    }

    .card-container {
       
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5%;
    }

    .left-item {
        display: flex;
        position: relative;
        top: 0;

    }



    .checkout-container {
       
        display: flex;
        align-items: center;
    }

    .downElement-container {
        width: 100%;
        position: absolute;
       
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Pour espacer les éléments sur la ligne */
        align-items: center; 
    }

    .total-Button {
        
        margin-top: 5%;
        
        width: 225px;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
   

    #totalPrice{
        margin-left: 2%;
        width: 200px;
        
    }

    .paid-container {
        
        display: flex;
        justify-content: end;
        margin-right: 8%;
    }

    .paid-button {
        margin-top: 2%;
        margin-bottom: 20%;

       
        

    }

   
   

    .menu-container{
        visibility: visible;
    }

    footer {
        visibility: hidden;

    }



}

